@model MovieRentalApp.Models.User

@{

    Layout = "~/Views/Shared/Login.cshtml";

}


@{ Html.EnableClientValidation(); }

@using (Html.BeginForm("Login", "MyAccounts", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="page-wrapper">
        <div class="main-page login-page ">
            @Html.Partial("MessageAlert")
            <h2 class="title1">Login</h2>

            <div class="widget-shadow">
                <div class="login-body">
                    <form action="#" method="post">
                        <input type="email" class="user" name="Email" placeholder="Enter Your Email" required="">
                        <input type="password" name="Password" class="lock" placeholder="Password">
                        <div class="forgot-grid">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Remember me</label>
                            <div class="forgot">
                                <a href="#">forgot password?</a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <input type="submit" name="Sign In" value="Sign In">
                        <div class="registration">
                            Don't have an account ?
                            <a class="" href="@Url.Action("Register","MyAccounts")">
                                Create an account
                            </a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
}

